/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.material {
    box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0px rgba(0, 0, 0, 0.14), 0 0px 0px 1px rgba(0, 0, 0, 0.12);
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.full-width {
    width: 100%;
}

.card-container {
    padding: 1em;
}
.logo {
    width: 200px;
    height: 200px;
      
    background: url(./assets/logo.png) center center no-repeat; 
    }
  