<div class="card-container">
    <form [formGroup]="settingsForm">
      <mat-card>
        <mat-card-title > Account Settings </mat-card-title>
        <mat-card-content fxLayout="column">
        
          <mat-form-field>
            <mat-select placeholder="Period Closing" formControlName="periodClosing" select>
              <mat-option *ngFor="let period of closingOptions" [value]="period">{{ period }}</mat-option>
            </mat-select>
          </mat-form-field>
  
        </mat-card-content>
        <mat-card-actions>
          <button (click)="setPeriodClosing(value)" mat-flat-button color="primary">Update</button>
         </mat-card-actions>
        </mat-card>
    </form>
  </div>
  